# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
*.lock

# Android
android/local.properties
android/app/build/
android/.gradle/
android/captures/
android/key.properties
*.jks
*.keystore

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Misc
.env
*.log
